* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* outline: 2px solid red; */
}

.topic {
    /* margin: 1rem; */
    padding-bottom: .1rem;
    padding-top: .5rem;
    background-color: azure;
    
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    color: rgb(0, 0, 0);
    /* margin-bottom: 2rem; */
}

.food-img {
    /* margin-left: 20rem; */
    width: 14rem;
    height: 10rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 12rem;
}

.description {
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.desc {
    color: rgb(25, 117, 198);
    /* margin-bottom: -15px; */
    font-size: 1.3rem;
    display: inline-block;
}

.desc-para {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 7rem;
    padding: 1rem 5rem;
    margin-top: -1.2rem;
    text-align: center;

}

.ingredients {
    background-color: rgb(254, 239, 221);
    margin-bottom: 1rem;
    padding-top: .5rem;
}

.ingred {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5rem;
    padding: 0 10rem;
}

.inred-c1 {

}

.inred-c2 {
    margin: 0 10rem;
    display: flex;
    padding: 1rem;
    
}

.menu {
    font-size: 1.2rem;
    text-align: center;
    list-style-type: none;
}



a {
    text-decoration: none;
    color: black;
}

.one {
    background-color: rgb(242, 246, 246);
    padding: 2rem;
}

.two {
    background-color: rgb(255, 255, 255);
    padding: .5rem;
}

.three {
    background-color: rgb(242, 246, 246);
    padding: 2rem;
}


#return {
    color: blue;
    text-decoration: underline;
    /* margin-top: 5rem; */
    font-size: 1.2rem;
}


.steps {
    /* background-color: aqua; */
    /* margin: 0 7rem; */
    padding: 1rem 12rem;
    margin-bottom: 2rem;
    background-color: rgb(245, 241, 249);
}